[submodule "lib/jhere"]
	path = lib/jhere
	url = git://github.com/mmarcon/jhere.git
[submodule "lib/history.js"]
	path = lib/history.js
	url = git://github.com/balupton/history.js.git
[submodule "lib/bootstrap"]
	path = lib/bootstrap
	url = git://github.com/twitter/bootstrap.git
[submodule "build"]
	path = build
	url = git@github.com:garbas/trolasi-mockup.git
